<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular Application</title>
</head>
<body>

    <div ng-app="app">
        <div ng-controller="ContactController as vm">
            <ul>
                <li ng-repeat="contact in vm.contacts">
                    <input ng-model="contact.name"></input>
                    <input ng-model="contact.phone"></input>
                </li>
                <button ng-click="vm.addContact()">Add contact!</button>
            </ul>
        </div>
    </div>

    <script src="js/angular.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/controllers/ContactController.js"></script>

</body>
</html>
